.item {
    width: 200px;
    border: 1px solid #c1c1c1;
}


.item img{
    width:200px;
}
.item p {
    margin: 6px 15px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.item a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.item-prices {
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 10px 0px;
    align-items: center;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #ff1111;
    font-size: 15px;
    font-weight: 600;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

.item button{
    padding: 10px 10px;
    width: 190px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141;
    margin-bottom: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
}